.test{
    font-size: 12px;
    color:gold;
}
.flex-box{
    width: 600px;
    height: 600px;
    background-color: red;
    display: flex;
    .flex{
        background-color: gold;
        padding: 1rem;
        flex: 1;
    }
}